.logo {
  height: 60px;
}

.logo:hover {
  height: 61px;
  background-color: #456173;
  cursor: pointer;
  padding: 5px;
  border-radius: 50px;
}

.header {
  background-color: #1B3C59;
  height: 70px;
  padding: 5px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: space-around;
}

.header-content {
  padding: 15px;
  flex:1;
  display: flex;
  justify-content: center;
}

.logout {
  font-size: 20px;
  padding: 30px;
}

.logout:hover{
  background-color: #456173;
  cursor: pointer;
}

.app-body {
  display: flex;
  align-content: center;
  justify-content: center;
}
